@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNovaSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: Semibold;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ProximaNova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ProximaNova";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.active {
  position: fixed;
}

.wrapper._active {
  overflow-x: hidden;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
}

@media (max-width: 1202px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__price {
  padding: 136px 0 0 0;
}

@media (max-width: 479.98px) {
  .page__price {
    padding: 84px 0 0 0;
  }
}

.page__what-we-do {
  margin: 131px 0 0 0;
  background: #F8F8F8;
}

@media (max-width: 767.98px) {
  .page__what-we-do {
    margin: 21px 0 0 0;
  }
}

.page__product-sportlight {
  padding: 204px 0 100px 0;
}

@media (max-width: 767.98px) {
  .page__product-sportlight {
    padding: 100px 0 100px 0;
  }
}

.header {
  background: url("../img/header/Bg.png") top no-repeat;
  position: relative;
  width: 100%;
  height: 810px;
}

@media (max-width: 479.98px) {
  .header {
    background: url("../img/header/Bg.png") bottom no-repeat;
    height: 789px;
  }
}

.header__row {
  padding: 32px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .header__row {
    padding: 29px 10px 0 10px;
  }
}

.header__logo {
  padding: 0 0 0 8px;
  position: relative;
  z-index: 3;
}

@media (max-width: 479.98px) {
  .header__logo {
    width: 47px;
    padding: 0 0 0 8px;
  }
  .header__logo img {
    max-width: 100%;
  }
}

.header__slider {
  margin: 130px 0 0 0;
  min-width: 0;
}

@media (max-width: 767.98px) {
  .header__slider {
    margin: 54px 0 0 0;
  }
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__label {
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.header__label a {
  color: #fff;
}

@media (max-width: 479.98px) {
  .header__label {
    margin: 0 0 20px 0;
    font-size: 13px;
  }
}

.menu__body {
  position: relative;
  top: 8px;
}

@media (max-width: 767.98px) {
  .menu__body {
    display: none;
  }
  .menu__body._active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url("../img/header/Bg.png") top no-repeat;
    padding: 40px 0 0 0;
    z-index: 2;
  }
}

@media (max-width: 767.98px) and (max-height: 240px) {
  .menu__body._active {
    padding: 10px 0 0 0;
  }
}

@media (max-width: 767.98px) {
  .menu__body._active .menu__list {
    display: block;
    height: 100%;
    text-align: center;
  }
  .menu__body._active .menu__list li {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) and (min-width: 479.98px) {
  .menu__body._active .menu__list li {
    margin: 0 0 40px 0;
    font-size: 18px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin: 0px 8px 0px 12px;
  padding: 4px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

.menu__link:hover {
  color: #FF8B00;
  border-bottom: 3px solid #fff;
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.menu__link_active {
  border-bottom: 3px solid #FF8B00;
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

@media (max-width: 767.98px) {
  .icon-menu {
    position: absolute;
    right: 33px;
    top: 40px;
  }
  .icon-menu._active {
    z-index: 3;
    top: 40px;
  }
  .icon-menu._active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 4px;
  }
  .icon-menu._active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    top: -2px;
  }
  .icon-menu._active span:last-child {
    display: none;
  }
  .icon-menu span {
    width: 24px;
    height: 2px;
    background: #fff;
    margin: 5px 0;
    display: block;
  }
}

.swiper {
  height: 392px;
}

@media (max-width: 767.98px) {
  .swiper {
    height: 508px;
  }
}

@media (max-width: 479.98px) {
  .swiper {
    height: 496px;
  }
}

.swiper-wrapper {
  padding: 0 100px;
}

@media (max-width: 991.98px) {
  .swiper-wrapper {
    padding: 0 10px;
  }
}

.swiper-slide__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide__items div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 767.98px) {
  .swiper-slide__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.swiper-slide__item {
  color: #fff;
}

.swiper-slide__title {
  font-size: 55px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

@media (max-width: 479.98px) {
  .swiper-slide__title {
    line-height: 36px;
    font-size: 32px;
    padding: 0 30px 0 10px;
    margin: 0 0 18px 0;
  }
}

.swiper-slide__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  max-width: 491px;
  max-height: 150px;
  overflow-y: hidden;
}

@media (max-width: 479.98px) {
  .swiper-slide__text {
    padding: 0 20px 0 8px;
    line-height: 20px;
    max-height: 143px;
    overflow-y: hidden;
  }
}

.swiper-slide__image {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 90px 0 0;
}

@media (max-width: 767.98px) {
  .swiper-slide__image {
    margin: 0 0 72px 0;
    padding: 0 0 0 0;
    width: 100px;
    position: relative;
    right: 10px;
  }
  .swiper-slide__image img {
    max-width: 100%;
  }
}

.swiper-slide__button {
  margin: 44px 0 0 0;
  height: 53px;
  width: 174px;
}

@media (max-width: 991.98px) {
  .swiper-slide__button {
    margin: 14px 0 0 0;
  }
}

@media (max-width: 479.98px) {
  .swiper-slide__button {
    margin: 28px 0 0 9px;
  }
}

@media (max-width: 767.98px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  cursor: pointer;
  width: 19px;
  height: 22px;
  background: url("../img/header/bullet.png") 0 0/100% 100% no-repeat;
}

.swiper-pagination .swiper-pagination-bullet-active {
  cursor: pointer;
  width: 19px;
  height: 22px;
  background: url("../img/header/bullet-active.png") 0 0/100% 100% no-repeat;
}

.swiper-scrollbar {
  display: none;
}

.price-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 110px;
}

@media (max-width: 991.98px) {
  .price-page__row {
    padding: 0 5px;
  }
}

@media (max-width: 767.98px) {
  .price-page__row {
    padding: 0 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price-page__item {
  font-weight: 700;
  color: #7050E5;
}

@media (max-width: 767.98px) {
  .price-page__item {
    margin: 0 0 65px 0;
  }
}

@media (max-width: 479.98px) {
  .price-page__item {
    margin: 0 0 74px 0;
  }
}

.price-page__label {
  font-size: 60px;
  text-align: center;
  margin: 0 0 20px 0;
}

@media (max-width: 479.98px) {
  .price-page__label {
    font-size: 42px;
    margin: 0 0 16px 0;
  }
}

.price-page__text {
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 255px;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (max-width: 479.98px) {
  .price-page__text {
    font-size: 13px;
    line-height: 16px;
    padding: 0 20px;
  }
}

.what-we-do__page {
  padding: 60px 0 110px 0;
}

.what-we-do__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  color: #7050E5;
  padding: 0 114px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 767.98px) {
  .what-we-do__title {
    font-size: 34px;
    padding: 0 40px 0 0;
  }
}

.what-we-do__title:after {
  content: "";
  width: 44px;
  height: 44px;
  background: url("../img/content/Orange_Arrows.png") 0 0/100% 100% no-repeat;
  position: relative;
  bottom: 26px;
  left: 20px;
}

@media (max-width: 767.98px) {
  .what-we-do__title:after {
    bottom: 12px;
    left: 10px;
  }
}

.what-we-do__items {
  padding: 18px 97px 0 91px;
}

@media (max-width: 767.98px) {
  .what-we-do__items {
    padding: 48px 0px 0 0px;
  }
}

.what-we-do__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .what-we-do__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 56px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .what-we-do__row:last-child {
    margin: 0 0 20px 0;
  }
  .what-we-do__row .what-we-do__item {
    margin: 0 auto 56px auto;
  }
  .what-we-do__row .what-we-do__item:last-child {
    margin: 0 auto;
  }
}

.what-we-do__row:first-child .what-we-do__item:first-child, .what-we-do__row:last-child .what-we-do__item:first-child {
  max-width: 271px;
}

.what-we-do__row:first-child .what-we-do__item:nth-child(2), .what-we-do__row:last-child .what-we-do__item:nth-child(2) {
  max-width: 241px;
}

.what-we-do__row:first-child .what-we-do__item:last-child, .what-we-do__row:last-child .what-we-do__item:last-child {
  max-width: 281px;
}

.what-we-do__item {
  margin: 0 2px 8px 2px;
  cursor: pointer;
  -webkit-transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, -webkit-box-shadow 1.0s ease 0s;
  transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, -webkit-box-shadow 1.0s ease 0s;
  transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, box-shadow 1.0s ease 0s;
  transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, box-shadow 1.0s ease 0s, -webkit-box-shadow 1.0s ease 0s;
}

@media (min-width: 767.98px) {
  .what-we-do__item:hover {
    background: rgba(112, 80, 229, 0.1);
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 0 rgba(112, 80, 229, 0.5);
            box-shadow: 0px 5px 0 rgba(112, 80, 229, 0.5);
    -webkit-transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, -webkit-box-shadow 1.0s ease 0s;
    transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, -webkit-box-shadow 1.0s ease 0s;
    transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, box-shadow 1.0s ease 0s;
    transition: background 0.4s ease 0s, border-radius 0.8s ease 0s, box-shadow 1.0s ease 0s, -webkit-box-shadow 1.0s ease 0s;
  }
}

.what-we-do__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 200px;
  margin: 0 0 29px 0;
  position: relative;
  right: 20px;
}

@media (max-width: 767.98px) {
  .what-we-do__image {
    width: 100px;
    height: 100px;
    margin: 0 auto 29px auto;
  }
  .what-we-do__image img {
    max-width: 100%;
  }
}

.what-we-do__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #7050E5;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

@media (max-width: 767.98px) {
  .what-we-do__label {
    margin: 0 0 16px 0;
  }
}

.what-we-do__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.008em;
  text-align: left;
  color: #878787;
  position: relative;
}

.product-sportlight__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .product-sportlight__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.product-sportlight__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 455px;
          flex: 0 1 455px;
  margin: 0 120px 0 20px;
  position: relative;
  bottom: 40px;
}

@media (max-width: 767.98px) {
  .product-sportlight__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 180px;
            flex: 0 1 180px;
    width: 100%;
    bottom: 0px;
    padding: 0 80px 0 0;
  }
}

.product-sportlight__label {
  font-size: 40px;
  font-weight: 700;
  color: #7050E5;
  margin: 0 0 10px 0;
}

@media (max-width: 767.98px) {
  .product-sportlight__label {
    font-size: 24px;
    padding: 0 0 0 10px;
    margin: 0 0 18px 0;
  }
}

.product-sportlight__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media (max-width: 767.98px) {
  .product-sportlight__text {
    padding: 0 0 0 9px;
    width: 100%;
  }
}

.product-sportlight__button {
  height: 43px;
  width: 171px;
  position: relative;
  top: 30px;
}

@media (max-width: 767.98px) {
  .product-sportlight__button {
    top: 0;
    margin: 45px auto 0 auto;
  }
}

@media (max-width: 479.98px) {
  .product-sportlight__video {
    width: 100%;
    padding: 0 30px;
  }
}

.product-sportlight__video img {
  max-width: 100%;
  cursor: pointer;
}

.ready-to-get__page {
  background: #232323;
  position: relative;
}

.ready-to-get__page ._container {
  max-width: 1275px;
}

.ready-to-get__page::before {
  content: "";
  position: absolute;
  height: 757.1677718902433px;
  width: 746.8612535227783px;
  left: -152px;
  top: -388px;
  border-radius: 373.4306335449219px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.33;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  border-radius: 373.431px;
  -webkit-transform: rotate(-122.79deg);
          transform: rotate(-122.79deg);
  opacity: 0.33;
}

.ready-to-get__page::after {
  content: "";
  position: absolute;
  height: 757.1677718902433px;
  width: 746.8612535227783px;
  left: 108px;
  top: 598px;
  border-radius: 373.4306335449219px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.33;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  border-radius: 373.431px;
  -webkit-transform: rotate(-122.79deg);
          transform: rotate(-122.79deg);
  opacity: 0.33;
}

.ready-to-get__row {
  padding: 122px 0 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  right: 4px;
}

@media (max-width: 767.98px) {
  .ready-to-get__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 30px 50px 30px;
  }
}

.ready-to-get__row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ready-to-get__title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 0 40px;
}

@media (max-width: 767.98px) {
  .ready-to-get__title {
    font-size: 34px;
    line-height: 38px;
    padding: 0 0 0 0px;
  }
}

.ready-to-get__label {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.0267em;
  text-align: left;
  color: #fff;
  margin: 0 0 38px 0;
  position: relative;
  right: 2px;
}

@media (max-width: 767.98px) {
  .ready-to-get__label {
    margin: 50px 0 34px 5px;
    font-size: 20px;
  }
}

.ready-to-get__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
}

@media (max-width: 767.98px) {
  .ready-to-get__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ready-to-get__box .form__line {
  margin: 0 0px 0px 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .ready-to-get__box .form__line {
    margin: 0 0 24px 0;
  }
}

.ready-to-get__box .form__line:last-child {
  margin: 0 0 0 20px;
}

@media (max-width: 767.98px) {
  .ready-to-get__box .form__line:last-child {
    margin: 0 0 0px 0;
  }
}

.form__line {
  margin: 35px 0 18px 0;
}

@media (max-width: 767.98px) {
  .form__line {
    margin: 0 0 22px 0;
  }
}

.form__line textarea {
  min-height: 96px;
  resize: vertical;
}

@media (max-width: 767.98px) {
  .form__line textarea {
    margin: 10px 0 0 0;
  }
}

.form__input {
  width: 100%;
  padding: 9px 13px;
  background: #FFFFFF;
  border: 1px solid #D2D6DA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  right: 2px;
}

.form__label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  margin: 0 0 12px 0;
}

@media (max-width: 767.98px) {
  .form__label {
    margin: 0 0 10px 6px;
  }
}

.form__btn {
  position: relative;
  top: 6px;
  right: 6px;
  width: 201px;
  height: 53px;
}

@media (max-width: 767.98px) {
  .form__btn {
    top: 8px;
    right: 0;
    width: 205px;
    height: 53px;
    margin: 0 auto;
  }
}

.footer {
  margin: 95px 0 0 0;
  background: #363636;
  position: relative;
  z-index: 100;
}

.footer__content {
  padding: 56px 0 0 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .footer__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__box .twitter-timeline {
  margin: 0 0 0 20px;
}

.footer__menu {
  position: relative;
  right: 10px;
}

@media (max-width: 991.98px) {
  .footer__menu {
    right: 0;
    margin: 65px 0 0 0;
    padding: 0 0 0 40px;
  }
  .footer__menu:last-child {
    right: 0;
    margin: 15px auto 0 auto;
    padding: 0 0 0 40px;
  }
  .footer__menu:last-child .footer__title {
    padding: 0 0 0 35px;
  }
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #FF8B00;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title:before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 17.5px;
  height: 20px;
  background: url("../img/footer/footer_icon.png") 0 0/100% 100% no-repeat;
  position: relative;
  bottom: 4px;
  margin: 0 8px 0 0;
}

.footer__list {
  margin: 20px 0 0 0;
}

@media (max-width: 991.98px) {
  .footer__list {
    margin: 10px 0 0 0;
  }
}

.footer__list li {
  margin: 0 0 15px 0;
}

.footer__link {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

@media (min-width: 767.98px) {
  .footer__link:hover {
    color: #cc9b60;
    -webkit-transition: color 0.4s ease 0s;
    transition: color 0.4s ease 0s;
  }
}

.footer__logo {
  position: absolute;
  right: 32px;
  bottom: 55px;
}

@media (max-width: 479.98px) {
  .footer__logo {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 80px 0 90px 0;
  }
}

.footer__copy {
  margin: 49px 0 0 0;
  font-family: 'Raleway';
  font-size: 10px;
  font-weight: 100;
  line-height: 20px;
  text-align: left;
  color: #fff;
  background: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479.98px) {
  .footer__copy {
    height: 95px;
    font-size: 8px;
  }
}

.footer__copy img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9px;
          flex: 0 0 9px;
  width: 9px;
  height: 10px;
  margin: 0 5px;
}

.btn {
  border-radius: 4px;
  background: #FF8B00;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, -webkit-box-shadow 0.8s ease 0s;
  transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, -webkit-box-shadow 0.8s ease 0s;
  transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, box-shadow 0.8s ease 0s;
  transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, box-shadow 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
}

@media (min-width: 767.98px) {
  .btn:hover {
    background: #fff;
    color: #FF8B00;
    border: 1px solid #FF8B00;
    -webkit-box-shadow: 0 3px 0 rgba(255, 139, 0, 0.5);
            box-shadow: 0 3px 0 rgba(255, 139, 0, 0.5);
    -webkit-transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, -webkit-box-shadow 0.8s ease 0s;
    transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, -webkit-box-shadow 0.8s ease 0s;
    transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, box-shadow 0.8s ease 0s;
    transition: background 0.4s linear 0s, color 0.5s ease 0s, border 0.6s ease 0s, box-shadow 0.8s ease 0s, -webkit-box-shadow 0.8s ease 0s;
  }
}

.popup {
  display: none;
}

.popup._active {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #444444;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.popup__body {
  display: none;
}

.popup__body._active {
  display: inline-block;
  background: #fff;
  padding: 20px;
  position: relative;
}

.popup__body._active video {
  max-width: 100%;
}

.popup__close {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  color: red;
  position: absolute;
  top: 0;
  right: 0px;
}

.popup__close span {
  display: inline-block;
  padding: 0 5px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media (min-width: 767.98px) {
  .popup__close span:hover {
    background: rgba(255, 0, 0, 0.8);
    border-radius: 0px 0 0px 5px;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}
